.row {
  display: flex;  
  flex-direction: row;  
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.col-1,
.col-2,
{
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 20px;
}

.col-1 { 
  flex-basis: 25%;
  max-width: 25%;
  margin-top: 39px;
  margin-left: -33px
}
 
.col-2 {
  flex-basis: 50%;
  max-width: 50%;
  margin-left: 33px;
  margin-top: -7px;
}

body{
  width:1000px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin:auto;
}

header{
  background-color:#F2C94C;
  padding-bottom: 9px;
}

nav {
  display: flex;
  padding:5px 0px 0px 9px;
}

nav ul {
  display: flex;
  margin:0;
  list-style: none;
  padding-inline-start: 22px;
}

nav li {
  margin-right: -1px;
  margin-top: 1px;
  padding:9px 9px;
  vertical-align: middle ;
}

a {
  text-decoration:underline;
  color: white;
  font-size:24px;
}

h1{ 
  font-family: 'Oswald', sans-serif;
  font-size:80px;
  line-height:100%;
  color: white;
  letter-spacing: -2px;
  margin: 85px 0px 33px 33px
}


h2 {
  font-weight:700;
  font-size:36px;
  margin-bottom 0px;
}


p {
   font-size:28px;
   line-height:30px;
   margin-top: -23px;
   letter-spacing: -0.03em;
}

blockquote {
  font-size:57px;
  color:#F2C94C;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  line-height:85%;
  font-weight: 400;
  margin-top: 79px;
  margin-left: 7px
}

.footer{
   display: inline;
}
      


.icons{
  display: inline;
}

    
    
    

