.row {
  
  display: flex;  
  flex-direction: row;  
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.col-1,
.col-2,
{
    
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 20px;
}

.col-1 {
    
  flex-basis: 25%;
  max-width: 25%;
  margin-top: 100;
}

.col-2 {
  flex-basis: 50%;
  max-width: 50%;
}


.krik {
  font-size:57px;
  color:#F8D56C;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  line-height:85%;
  font-weight: 400;
}

h2 {
  font-weight:700;
  font-size:36px;
  margin-bottom 0px;
}

p {
   font-size:28px;
   line-height:30px;
   margin-top: -23px;
}


header{
  background-color:#F8D56C;
}

body{
  width:1000px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}



h1{ 
  font-family: 'Oswald', sans-serif;
  font-size:80px;
  line-height:81%;
  color: white;
}


nav {
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  color:#1D4F7F;
  padding:18px 39px 0px;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  list-style: none;
  padding-inline-start: 26px;
}

nav li {
  margin-right: 18px;
  padding:0 14px 2px;
  vertical-align:middle;
}

a {
  text-decoration:underline;
  color: white;
  font-size:24px;

}
